.parent {
    height: 500px;
    width: 500px;
    margin: 2px;
    border: 2px solid blue;
    display: grid;
    place-items: center;
    
    
    
}

.child {
    height: 100px;
    width: 100px;
    border: 2px solid brown;
    
}